.Footer {
  .built_by {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    margin-top: 35px;
    margin-bottom: 0;
    a {
      color: #d485ff;
      text-decoration: none;
      margin-right: 10px;
    }
    a:hover {
      color: #d485ff;
      text-decoration: none;
      opacity: 0.8;
    }
  }  
}