@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

html,
body {
  height: 100%;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}

/* BOX */
.vertical-align-vh {
  background: linear-gradient(to bottom, #352b89, #342f6b, #35355c);
  min-height: 100vh;
  width: 100wh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-height: 650px) {
  .vertical-align-vh {
    height: auto;
    margin: 0;
    padding: 25px;
  }
}

.box-app {
  border-radius: 10px;
  padding: 30px 30px 50px;
  width: 600px;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  border-radius: 30px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  margin: 0 auto;
}

@media (max-width: 650px) {
  .box-app {
    padding: 30px 20px;
  }
}
